Repository niuiic/vue-fusion: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: npx eslint --rule no-console:error --rule no-debugger:error -f unix {staged_files} && git add {staged_files}

stylelint:
  run: npx stylelint -f unix {staged_files} && git add {staged_files}

chore: update dependencies
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: eslint

feat: update dev
  packages/dev/src/chunk.ts
  packages/dev/src/html.ts
  packages/dev/src/index.ts
  packages/dev/src/postcss/comment.ts
  packages/dev/src/postcss/index.ts
  packages/dev/src/postcss/px.ts
  packages/dev/src/vite/index.ts
  packages/dev/vite.config.ts
Due: eslint

feat: update style
  packages/styles/src/element/index.scss
  packages/styles/src/element/reset.scss
  packages/styles/vite.config.ts
Due: eslint, stylelint

feat(builtins): update fetch
  packages/builtins/src/fetch/README.md
  packages/builtins/src/fetch/index.ts
Due: eslint

feat: update builtins
  packages/builtins/src/asset.ts
  packages/builtins/src/business/index.ts
  packages/builtins/src/enum.ts
  packages/builtins/src/fetch/README.md
  packages/builtins/src/fetch/index.ts
  packages/builtins/src/index.ts
  packages/builtins/src/mock.ts
  packages/builtins/src/mock/README.md
  packages/builtins/src/router/README.md
  packages/builtins/src/strategy.ts
  packages/builtins/src/useComponent.ts
  packages/builtins/src/useComponent/README.md
  packages/builtins/src/useComponent/index.ts
  packages/builtins/src/useQuery/README.md
  packages/builtins/src/useQuery/index.ts
  packages/builtins/vite.config.ts
Due: eslint

chore(dev): update vite config
  packages/dev/vite.config.ts
Due: eslint

feat: update builtins
  packages/builtins/declare/dev.d.ts
  packages/builtins/src/factory.ts
  packages/builtins/src/fetch/index.ts
  packages/builtins/src/index.ts
  packages/builtins/src/types.ts
  packages/builtins/src/types/function.ts
  packages/builtins/src/types/index.ts
  packages/builtins/src/types/object.ts
  packages/builtins/tsconfig.json
Due: eslint

feat(style): update adaption
  packages/styles/src/element/adaptation.scss
Due: stylelint

feat: update components
  packages/components/index.html
  packages/components/package.json
  packages/components/src/share/asset.ts
  packages/components/vite.config.ts
Due: eslint

chore(components): update vite config
  packages/components/vite.config.ts
Due: eslint

refactor(components): move useAsset
  packages/components/src/assets/useAsset.ts
Due: eslint

feat: update website
  TODO
  apps/website/.env
  apps/website/declare/define.d.ts
  apps/website/index.html
  apps/website/src/App.vue
  apps/website/src/api/example/type.ts
  apps/website/src/api/exampleApi.ts
  apps/website/src/assets/useAsset.ts
  apps/website/src/config/router.ts
  apps/website/src/main.ts
  apps/website/src/share/gitkeep
  apps/website/tsconfig.json
  apps/website/vite.config.ts
  package.json
  packages/components/vite.config.ts
  pnpm-lock.yaml
Due: eslint, stylelint

feat: update website and components
  apps/website/src/api/exampleApi.ts
  apps/website/src/api/gitkeep
  apps/website/tsconfig.json
  apps/website/vite.config.ts
  packages/components/src/App.vue
  packages/components/src/index.ts
  packages/components/vite.config.ts
  packages/styles/src/element/adaptation.scss
  packages/styles/src/element/index.scss
  packages/styles/src/element/reset.scss
Due: eslint, stylelint

feat: update components and styles
  packages/components/src/App.vue
  packages/styles/src/element/reset.scss
Due: eslint, stylelint

chore: remove eslint/stylelint check during building
  .eslintignore
  apps/website/vite.config.ts
  package.json
  packages/builtins/vite.config.ts
  packages/components/tsconfig.json
  packages/components/vite.config.ts
  packages/dev/vite.config.ts
  packages/styles/vite.config.ts
  pnpm-lock.yaml
Due: eslint

refactor(component): remove index.ts
  packages/components/src/index.ts
Due: eslint

fix(builtins): useQuery
  packages/builtins/src/useQuery/README.md
  packages/builtins/src/useQuery/index.ts
Due: eslint

docs(builtins): useQuery
  packages/builtins/src/useQuery/README.md
Due: none

feat(builtins.fetch): fix options
  packages/builtins/src/fetch/index.ts
Due: eslint

feat(builtins): update function type
  packages/builtins/src/useComponent/index.ts
  packages/builtins/src/useQuery/index.ts
Due: eslint

feat(builtins): useCache
  packages/builtins/src/useCache/README.md
  packages/builtins/src/useCache/index.ts
Due: eslint

feat(builtins): format time
  package.json
  packages/builtins/src/date.ts
  packages/builtins/vite.config.ts
  pnpm-lock.yaml
Due: eslint

feat(builtins): nextFrame
  packages/builtins/src/nextFrame.ts
Due: eslint

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: eslint

refactor(builtins): rename dir
  packages/builtins/src/index.ts
  packages/builtins/src/useCacheFn/README.md
  packages/builtins/src/useCacheFn/index.ts
Due: eslint

feat: update components
  TODO
  packages/components/build.ts
  packages/components/src/assets/fonts/HuXiaoBoNanShenTi.otf
  packages/components/src/assets/icon.js
  packages/components/src/assets/images/gDialog/bg.png
  packages/components/src/assets/images/gNav/bg.png
  packages/components/src/assets/images/gNav/entry.png
  packages/components/src/assets/styles/font.scss
  packages/components/src/assets/styles/index.scss
  packages/components/src/components/gDialog/GDialog.vue
  packages/components/src/components/gDialog/index.ts
  packages/components/src/components/gIcon/GIcon.vue
  packages/components/src/components/gIcon/index.ts
  packages/components/src/components/gLayout/GLayout.vue
  packages/components/src/components/gLayout/index.ts
  packages/components/src/components/gNav/Entry.vue
  packages/components/src/components/gNav/GNav.vue
  packages/components/src/components/gNav/index.ts
  packages/components/src/components/gNav/nonBusiness.ts
  packages/components/src/components/gUser/GUser.vue
  packages/components/src/components/gUser/index.ts
  packages/components/src/components/gWeather/GWeather.vue
  packages/components/src/components/gWeather/index.ts
  packages/components/src/components/xInput/XInput.vue
  packages/components/src/components/xInput/index.ts
  packages/components/src/main.ts
  packages/components/src/pages/gDialog/GDialog.vue
  packages/components/src/pages/gDialog/index.ts
  packages/components/src/pages/gIcon/GIcon.vue
  packages/components/src/pages/gIcon/index.ts
  packages/components/src/pages/gLayout/GLayout.vue
  packages/components/src/pages/gLayout/index.ts
  packages/components/src/pages/gNav/GNav.vue
  packages/components/src/pages/gNav/index.ts
  packages/components/src/pages/gUser/GUser.vue
  packages/components/src/pages/gUser/index.ts
  packages/components/src/pages/gWeather/GWeather.vue
  packages/components/src/pages/gWeather/index.ts
  packages/components/src/pages/xInput/XInput.vue
  packages/components/src/pages/xInput/index.ts
Due: eslint, stylelint

fix(components): x-input
  packages/components/src/components/xInput/XInput.vue
  packages/components/src/pages/xInput/XInput.vue
Due: eslint, stylelint

feat(components): x-form-item
  packages/components/src/components/xFormItem/XFormItem.vue
  packages/components/src/components/xFormItem/index.ts
  packages/components/src/components/xFormItem/nonBusiness/config.ts
  packages/components/src/components/xFormItem/nonBusiness/index.ts
  packages/components/src/components/xFormItem/nonBusiness/type.ts
  packages/components/src/components/xFormItem/nonBusiness/useFormData.ts
  packages/components/src/pages/xFormItem/XFormItem.vue
  packages/components/src/pages/xFormItem/index.ts
Due: eslint, stylelint

fix(components): useFormData
  packages/components/src/components/xFormItem/XFormItem.vue
  packages/components/src/components/xFormItem/nonBusiness/config.ts
  packages/components/src/components/xFormItem/nonBusiness/useFormData.ts
  packages/components/src/pages/xFormItem/XFormItem.vue
Due: eslint, stylelint

feat(xFormItem): validate
  packages/components/src/components/xFormItem/XFormItem.vue
  packages/components/src/components/xFormItem/nonBusiness/config.ts
  packages/components/src/components/xFormItem/nonBusiness/useFormData.ts
  packages/components/src/pages/xFormItem/XFormItem.vue
Due: eslint, stylelint

feat(xFormItem): formDataValid
  packages/components/src/components/xFormItem/XFormItem.vue
  packages/components/src/components/xFormItem/nonBusiness/index.ts
  packages/components/src/components/xFormItem/nonBusiness/useFormData.ts
  packages/components/src/components/xFormItem/nonBusiness/validate.ts
  packages/components/src/pages/xFormItem/XFormItem.vue
Due: eslint, stylelint

fix(xFormItem): error info
  packages/components/src/components/xFormItem/XFormItem.vue
Due: eslint, stylelint

refactor(xFormItem): update example
  packages/components/src/pages/xFormItem/XFormItem.vue
Due: eslint, stylelint

fix(builtins): router
  packages/builtins/src/router/README.md
  packages/builtins/src/router/router.ts
  packages/builtins/src/router/type.ts
Due: eslint

fix(components): build
  packages/components/build.ts
  packages/components/package.json
Due: eslint

refactor: useFormData -> useObservable
  packages/builtins/src/factory.ts
  packages/builtins/src/index.ts
  packages/builtins/src/useObservable.ts
  packages/components/src/components/xFormItem/XFormItem.vue
  packages/components/src/components/xFormItem/nonBusiness/index.ts
  packages/components/src/components/xFormItem/nonBusiness/type.ts
  packages/components/src/components/xFormItem/nonBusiness/validate.ts
  packages/components/src/pages/xFormItem/XFormItem.vue
Due: eslint, stylelint

feat(website): add example
  apps/website/package.json
  apps/website/src/App.vue
  apps/website/src/business/def/gitkeep
  apps/website/src/business/def/user.ts
  apps/website/src/business/impl/gitkeep
  apps/website/src/business/impl/user.ts
  apps/website/src/config/router.ts
  apps/website/src/main.ts
  apps/website/src/mock/gitkeep
  apps/website/src/mock/user.ts
  apps/website/src/model/gitkeep
  apps/website/src/model/user.ts
  apps/website/src/view/pages/example/Example.vue
  apps/website/src/view/pages/overview/Overview.vue
Due: eslint, stylelint

fix(xFormItem): style
  packages/components/src/components/xFormItem/XFormItem.vue
Due: eslint, stylelint

refactor(website): router -> routes
  apps/website/src/config/routes.ts
  apps/website/src/main.ts
  apps/website/src/view/pages/example/Example.vue
Due: eslint, stylelint

Path conditions:
  eslint: any of: *.{cjs,mjs,js,ts,vue,json}
  stylelint: any of: *.{css,scss,vue}
