Repository niuiic/vue-fusion: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{cjs,mjs,js,ts,vue}'
      run: 'npx eslint --rule no-console:error --rule no-debugger:error {staged_files} && git add {staged_files}'
    stylelint:
      glob: '*.{css,scss,vue}'
      run: 'npx stylelint {staged_files} && git add {staged_files}'
commit-msg:
  commands:
    commitlint:
      run: node lintcommit.mjs {1}

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: none

refactor: format
  packages/components/src/components/code/Code.vue
Due: eslint, stylelint

refactor: business -> service
  packages/components/src/components/service/index.ts
Due: eslint

feat: oop
  apps/website/src/module/user/entity.ts
  apps/website/src/module/user/index.ts
  apps/website/src/module/user/mock.ts
  apps/website/src/module/user/service.ts
  apps/website/src/service/user/index.ts
  apps/website/src/service/user/mock.ts
  apps/website/src/view/example/Example.vue
  apps/website/tsconfig.json
  apps/website/vite.config.ts
  eslint.config.mjs
  package.json
  packages/components/src/components/enum.ts
  packages/components/src/components/log.ts
  packages/components/src/components/mock.ts
  packages/components/src/components/service/README.md
  packages/components/src/components/service/index.ts
  packages/components/src/components/useDebouncedFn.ts
  packages/components/src/pages/request/index.ts
  pnpm-lock.yaml
Due: eslint, stylelint

refactor: UseMock -> Mock
  apps/website/src/module/user/service.ts
  packages/components/src/components/mock.ts
Due: eslint

refactor: service -> dao
  apps/website/src/module/user/dao.ts
  apps/website/src/module/user/index.ts
  apps/website/src/module/user/mock.ts
  apps/website/src/module/user/service.ts
  apps/website/src/view/example/Example.vue
  packages/components/src/components/mock.ts
  packages/components/src/components/types.ts
Due: eslint, stylelint

refactor: example
  apps/website/src/main.ts
  apps/website/src/module/user/dao.ts
  apps/website/src/module/user/mock.ts
  apps/website/src/module/user/service.ts
  apps/website/src/view/example/Example.vue
  package.json
  packages/components/README.md
  packages/components/src/components/result.ts
  pnpm-lock.yaml
  turbo.json
Due: eslint, stylelint

feat(log): add instance
  packages/components/src/components/log.ts
Due: eslint

feat(log): default fn
  packages/components/src/components/log.ts
Due: eslint

chore: add cypress
  .gitignore
  apps/website/cypress.config.ts
  apps/website/package.json
Due: eslint

refactor: service
  apps/website/src/module/user/service.ts
  packages/components/src/components/types.ts
Due: eslint

chore: remove cypress
  apps/website/cypress.config.ts
  apps/website/package.json
  package.json
  pnpm-lock.yaml
Due: eslint

chore: add playwright
  .gitignore
  apps/website/package.json
  apps/website/playwright.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint

refactor: use inversify
  apps/website/src/module/user/dao.ts
  apps/website/src/module/user/index.ts
  apps/website/src/module/user/mock.ts
  apps/website/src/module/user/service.ts
  apps/website/src/view/example/example.e2e.ts
  package.json
  packages/components/src/components/log.ts
  packages/components/src/components/mock.ts
  packages/components/src/components/types.ts
  packages/components/tsconfig.json
  pnpm-lock.yaml
Due: eslint

refactor: use symbol
  apps/website/src/module/user/dao.ts
  apps/website/src/module/user/index.ts
  apps/website/src/module/user/service.ts
  apps/website/src/module/user/symbol.ts
Due: eslint

fix: service
  apps/website/src/module/user/symbol.ts
  apps/website/src/view/example/Example.vue
Due: eslint, stylelint

refactor: mock
  apps/website/src/module/user/index.ts
Due: eslint

feat: improve useAsyncComp
  packages/components/src/components/useAsyncComp.ts
Due: eslint

fix: useAsyncComp
  packages/components/src/components/useAsyncComp.ts
Due: eslint

refactor: useAsyncComp
  packages/components/src/components/useAsyncComp.ts
Due: eslint

chore: update eslint config
  eslint.config.mjs
  tsconfig.eslint.json
Due: eslint

fix: eslint error
  apps/website/package.json
  apps/website/src/main.ts
  apps/website/src/module/user/service.ts
  eslint.config.mjs
  packages/components/build.ts
  packages/components/package.json
  packages/components/src/components/code/Code.vue
  packages/components/src/components/code/index.ts
  packages/components/src/components/router/index.ts
  packages/components/src/components/useAsyncComp.ts
  packages/components/src/components/useRequest/index.ts
Due: eslint, stylelint

fix: components
  packages/components/src/app/App.vue
  packages/components/src/components/useAsyncComp.ts
Due: eslint, stylelint

feat(useAsyncComp): pass update as arg of getProps and getChildren
  packages/components/src/components/useAsyncComp.ts
Due: eslint

refactor: DI
  apps/website/src/module/user/dao.ts
  apps/website/src/module/user/index.ts
  apps/website/src/module/user/service.ts
  apps/website/src/module/user/symbol.ts
  apps/website/src/view/example/Example.vue
Due: eslint, stylelint

fix(useAsyncComp): type
  packages/components/src/components/useAsyncComp.ts
Due: eslint

feat(components): assert
  packages/components/src/components/assert.ts
Due: eslint

feat(components): isNil
  packages/components/src/components/isNil.ts
Due: eslint

refactor: assert
  apps/website/src/module/user/mock.ts
  package.json
  packages/components/src/components/code/Code.vue
  packages/components/src/components/useAsyncComp.ts
  pnpm-lock.yaml
Due: eslint, stylelint

refactor: assert
  packages/components/src/components/mock.ts
  packages/components/src/components/router/page.ts
Due: eslint

refactor: apps -> app
  app/.env
  app/declare/define.d.ts
  app/declare/vite.d.ts
  app/index.html
  app/package.json
  app/playwright.config.ts
  app/public/logo.svg
  app/src/App.vue
  app/src/main.ts
  app/src/module/user/dao.ts
  app/src/module/user/entity.ts
  app/src/module/user/index.ts
  app/src/module/user/mock.ts
  app/src/module/user/service.ts
  app/src/share/routes.ts
  app/src/view/example/Example.vue
  app/src/view/example/example.e2e.ts
  app/tsconfig.json
  app/vite.config.ts
  apps/website/.env
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: eslint, stylelint

fix: scss error
  components/src/app/App.vue
  components/src/app/CompInfo.vue
Due: eslint, stylelint

chore: build components
  components/build.doc.ts
  components/build.lib.ts
  components/package.json
Due: eslint

chore(components): build
  components/README.md
  components/build.doc.ts
  components/build.lib.ts
  components/dependencies.json
  components/dependencies.ts
  components/package.json
  components/tsconfig.json
  components/vite.lib.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint

chore(components): fix types
  components/dependencies.json
  components/package.json
Due: none

chore: vite config
  .gitignore
  app/vite.config.ts
  build/src/chunk.ts
  build/src/index.ts
  components/dependencies.json
  package.json
  pnpm-lock.yaml
Due: eslint
