Repository niuiic/vue-fusion: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: npx eslint --rule no-console:error --rule no-debugger:error {staged_files} && git add {staged_files}

stylelint:
  run: npx stylelint {staged_files} && git add {staged_files}

docs: isNil
  components/src/pages/isNil/index.ts
Due: eslint

refactor: id
  components/src/components/getLocalUniqId.ts
  components/src/pages/getLocalUniqId/index.ts
Due: eslint

refactor: useRequest
  components/src/components/useRequest/README.md
  components/src/components/useRequest/index.ts
Due: eslint

docs: useDebouncedFn
  components/src/pages/useDebouncedFn/index.ts
Due: eslint

docs: useAsyncFn
  components/src/components/useAsyncFn/README.md
  components/src/components/useAsyncFn/index.ts
  components/src/pages/useAsyncFn/index.ts
Due: eslint

docs: result
  components/src/components/result.ts
  components/src/pages/result/index.ts
Due: eslint

docs: toStr
  components/src/pages/toStr/index.ts
Due: eslint

docs: nextFrame
  components/src/components/nextFrame/README.md
  components/src/components/nextFrame/index.ts
  components/src/pages/nextFrame/index.ts
Due: eslint

docs: strategy
  components/src/components/strategy/README.md
  components/src/components/strategy/index.ts
  components/src/pages/strategy/index.ts
Due: eslint

docs: components
  components/src/pages/framework/components.md
  components/src/pages/framework/index.ts
Due: eslint

feat: code border
  components/src/components/code/Code.vue
Due: eslint, stylelint

docs: app
  components/src/pages/framework/app.md
  components/src/pages/framework/index.ts
Due: eslint

docs: app
  components/src/pages/framework/app.md
Due: none

fix: code
  components/src/components/code/Code.vue
Due: eslint, stylelint

feat(emitter): type
  components/src/components/emitter/index.ts
Due: eslint

chore: eslint
  eslint.config.mjs
Due: eslint

refactor: button
  components/src/app/App.vue
Due: eslint, stylelint

refactor: category
  components/src/app/menu.ts
  components/src/pages/assert/index.ts
  components/src/pages/clipboard/index.ts
  components/src/pages/concurrent/index.ts
  components/src/pages/emitter/index.ts
  components/src/pages/framework/index.ts
  components/src/pages/getLocalUniqId/index.ts
  components/src/pages/isNil/index.ts
  components/src/pages/nextFrame/index.ts
  components/src/pages/notify/index.ts
  components/src/pages/request/index.ts
  components/src/pages/result/index.ts
  components/src/pages/router/index.ts
  components/src/pages/strategy/index.ts
  components/src/pages/time/index.ts
  components/src/pages/toStr/index.ts
  components/src/pages/useAsyncComp/index.ts
  components/src/pages/useAsyncFn/index.ts
  components/src/pages/useData/index.ts
  components/src/pages/useDebouncedFn/index.ts
  components/src/pages/useEntityFactory/index.ts
  components/src/pages/useRequest/index.ts
Due: eslint

fix: style
  components/src/app/App.vue
Due: eslint, stylelint

feat: CFormItem
  components/src/components/cFormItem/CFormItem.vue
  components/src/components/cFormItem/README.md
  components/src/components/cFormItem/components.ts
  components/src/components/cFormItem/index.ts
  components/src/pages/cFormItem/CFormItemPage.vue
  components/src/pages/cFormItem/index.ts
  eslint.config.mjs
Due: eslint, stylelint

feat: CInput
  components/src/components/cFormItem/components.ts
  components/src/components/cInput/CInput.vue
  components/src/components/cInput/index.ts
  components/src/pages/cFormItem/CFormItemPage.vue
  components/src/pages/cInput/CInputPage.vue
  components/src/pages/cInput/index.ts
Due: eslint, stylelint

docs: 删除一级标题
  components/src/components/cFormItem/README.md
  components/src/components/concurrent/README.md
  components/src/components/emitter/README.md
  components/src/components/nextFrame/README.md
  components/src/components/request/README.md
  components/src/components/router/README.md
  components/src/components/strategy/README.md
  components/src/components/useAsyncComp/README.md
  components/src/components/useAsyncFn/README.md
  components/src/components/useData/README.md
  components/src/components/useEntityFactory/README.md
  components/src/components/useRequest/README.md
Due: none

refactor: menu
  components/src/app/MenuTree.vue
Due: eslint, stylelint

docs: tag
  components/src/pages/assert/index.ts
  components/src/pages/cFormItem/index.ts
  components/src/pages/cInput/index.ts
  components/src/pages/clipboard/index.ts
  components/src/pages/concurrent/index.ts
  components/src/pages/emitter/index.ts
  components/src/pages/getLocalUniqId/index.ts
  components/src/pages/isNil/index.ts
  components/src/pages/nextFrame/index.ts
  components/src/pages/notify/index.ts
  components/src/pages/request/index.ts
  components/src/pages/result/index.ts
  components/src/pages/router/index.ts
  components/src/pages/strategy/index.ts
  components/src/pages/time/index.ts
  components/src/pages/toStr/index.ts
  components/src/pages/useAsyncComp/index.ts
  components/src/pages/useAsyncFn/index.ts
  components/src/pages/useData/index.ts
  components/src/pages/useDebouncedFn/index.ts
  components/src/pages/useEntityFactory/index.ts
  components/src/pages/useRequest/index.ts
Due: eslint

feat: CSelect
  components/src/components/cSelect/CSelect.vue
  components/src/components/cSelect/index.ts
  components/src/pages/cSelect/CSelectPage.vue
  components/src/pages/cSelect/index.ts
Due: eslint, stylelint

feat: CInputNumber
  components/src/components/cInputNumber/CInputNumber.vue
  components/src/components/cInputNumber/index.ts
  components/src/pages/cInputNumber/CInputNumberPage.vue
  components/src/pages/cInputNumber/index.ts
Due: eslint, stylelint

Path conditions:
  eslint: any of: *.{cjs,mjs,js,ts,vue}
  stylelint: any of: *.{css,scss,vue}
