Repository niuiic/vue-fusion: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: npx eslint --rule no-console:error --rule no-debugger:error -f unix {staged_files} && git add {staged_files}

stylelint:
  run: npx stylelint -f unix {staged_files} && git add {staged_files}

refactor: useObservable
  packages/builtins/src/business/index.ts
  packages/builtins/src/useObservable.ts
  packages/builtins/src/useQuery/index.ts
  packages/components/src/components/gFormItem/GFormItem.vue
  packages/components/src/components/gFormItem/nonBusiness/config.ts
  packages/components/src/components/gFormItem/nonBusiness/validate.ts
Due: eslint, stylelint

fix: components
  packages/components/src/App.vue
Due: eslint, stylelint

fix: useObservable
  packages/builtins/src/useObservable.ts
Due: eslint

refactor: *
  packages/builtins/build.ts
  packages/builtins/package.json
  packages/builtins/src/index.ts
  packages/builtins/src/useCachedFn/README.md
  packages/builtins/src/useCachedFn/index.ts
  packages/builtins/src/useDebouncedFn.ts
  packages/builtins/tsconfig.json
  packages/builtins/vite.config.ts
  packages/components/build.ts
  packages/components/src/pages/gFormItem/GFormItem.vue
  packages/components/src/pages/gInput/GInput.vue
Due: eslint, stylelint

refactor(builtins): mode
  packages/builtins/src/mode.ts
Due: eslint

refactor: trace
  packages/builtins/src/business/index.ts
  packages/builtins/src/mock/index.ts
  packages/builtins/src/router/page.ts
  packages/builtins/src/strategy.ts
  packages/builtins/src/trace.ts
  packages/builtins/src/useObservable.ts
  packages/builtins/src/useQuery/index.ts
  packages/components/src/components/gFormItem/GFormItem.vue
  packages/components/src/components/gFormItem/nonBusiness/validate.ts
Due: eslint, stylelint

refactor: trace -> logErr
  packages/builtins/src/business/index.ts
  packages/builtins/src/log.ts
  packages/builtins/src/useObservable.ts
  packages/builtins/src/useQuery/index.ts
  packages/components/src/components/gFormItem/GFormItem.vue
  packages/components/src/components/gFormItem/nonBusiness/validate.ts
Due: eslint, stylelint

refactor: factory
  apps/website/src/view/pages/example/Example.vue
  packages/builtins/src/factory.ts
Due: eslint, stylelint

refactor: builtins
  packages/builtins/src/enum.ts
  packages/builtins/src/time.ts
Due: eslint

refactor(builtins): useQuery
  packages/builtins/src/useQuery/README.md
  packages/builtins/src/useQuery/index.ts
Due: eslint

refactor: mock
  apps/website/src/business/impl/user.ts
  apps/website/src/main.ts
  packages/builtins/src/business/README.md
  packages/builtins/src/business/index.ts
  packages/builtins/src/mock/README.md
  packages/builtins/src/mock/index.ts
Due: eslint

refactor: replace fx-flow
  README.md
  apps/website/src/business/impl/user.ts
  apps/website/src/mock/user.ts
  apps/website/src/view/pages/example/Example.vue
  package.json
  packages/builtins/src/business/README.md
  packages/builtins/src/business/index.ts
  packages/builtins/src/factory.ts
  packages/builtins/src/fetch/index.ts
  packages/builtins/src/jsonp.ts
  packages/builtins/src/log.ts
  packages/builtins/src/mock/README.md
  packages/builtins/src/mock/index.ts
  packages/builtins/src/result.ts
  packages/builtins/src/toStr.ts
  packages/builtins/src/types.ts
  packages/builtins/src/useDebouncedFn.ts
  packages/builtins/src/useObservable.ts
  packages/builtins/src/useQuery/README.md
  packages/builtins/src/useQuery/index.ts
  packages/builtins/vite.config.ts
  packages/components/src/components/gFormItem/GFormItem.vue
  packages/components/src/components/gFormItem/nonBusiness/config.ts
  packages/components/src/components/gFormItem/nonBusiness/validate.ts
  packages/components/vite.lib.config.ts
  pnpm-lock.yaml
Due: eslint, stylelint

refactor: useQuery -> useRequest
  packages/builtins/src/useDebouncedFn.ts
  packages/builtins/src/useQuery/README.md
  packages/builtins/src/useRequest/README.md
  packages/builtins/src/useRequest/index.ts
Due: eslint

docs: update README
  README.md
Due: none

fix: gFormItem
  packages/components/src/components/gFormItem/GFormItem.vue
  packages/components/src/components/gFormItem/nonBusiness/config.ts
Due: eslint, stylelint

fix(components): gFormItem
  packages/components/src/App.vue
  packages/components/src/components/gFormItem/GFormItem.vue
  packages/components/src/components/gFormItem/nonBusiness/config.ts
Due: eslint, stylelint

feat(builtins): useAsyncTask
  packages/builtins/src/useComponent/README.md
  packages/builtins/src/useComponent/index.ts
Due: eslint

feat: style
  packages/styles/declare/vite.d.ts
  packages/styles/package.json
  packages/styles/src/App.vue
  packages/styles/src/main.ts
  packages/styles/src/pages/dashboard/Dashboard.vue
  packages/styles/src/pages/dashboard/index.ts
  packages/styles/src/utils/code/Code.vue
  packages/styles/src/utils/code/index.ts
  packages/styles/src/utils/code/nonBusiness.ts
  packages/styles/tsconfig.json
  packages/styles/vite.config.ts
  pnpm-lock.yaml
Due: eslint, stylelint

fix: style
  apps/website/vite.config.ts
  packages/components/src/main.ts
  packages/components/vite.config.ts
  packages/styles/src/App.vue
  packages/styles/src/main.ts
  packages/styles/vite.config.ts
Due: eslint, stylelint

chore: turbo
  turbo.json
Due: eslint

refactor(component): use router
  packages/components/src/App.vue
  packages/components/src/main.ts
  packages/components/src/pages/gFormItem/index.ts
  packages/components/src/pages/gInput/index.ts
  packages/components/src/utils/router.ts
Due: eslint, stylelint

feat: highlight vue syntax
  package.json
  packages/components/src/main.ts
  packages/styles/src/main.ts
  pnpm-lock.yaml
Due: eslint

fix(components): route redirect
  packages/components/src/utils/router.ts
Due: eslint

chore(builtins): exclude element-plus
  packages/builtins/vite.config.ts
Due: eslint

fix(styles): hmr
  packages/styles/package.json
  packages/styles/src/utils/code/Code.vue
  packages/styles/src/utils/code/nonBusiness.ts
  pnpm-lock.yaml
Due: eslint, stylelint

refactor: remove useless code
  packages/styles/src/utils/code/Code.vue
Due: eslint, stylelint

refactor(styles): use router instead
  packages/styles/src/App.vue
  packages/styles/src/main.ts
  packages/styles/src/pages/dashboard/index.ts
  packages/styles/src/utils/router.ts
Due: eslint, stylelint

feat(builtins): concurrent
  packages/builtins/src/concurrent/README.md
  packages/builtins/src/concurrent/index.ts
  packages/builtins/src/useComponent/README.md
  packages/builtins/src/useComponent/index.ts
Due: eslint

refactor: remove useAsset
  apps/website/src/assets/useAsset.ts
  package.json
  packages/components/src/assets/gitkeep
  packages/components/src/assets/useAsset.ts
  pnpm-lock.yaml
Due: eslint

refactor: project structure
  README.md
  apps/website/src/api/gitkeep
  apps/website/src/assets/fonts/gitkeep
  apps/website/src/assets/images/gitkeep
  apps/website/src/business/def/user.ts
  apps/website/src/business/user/index.ts
  apps/website/src/business/user/mock.ts
  apps/website/src/business/user/model.ts
  apps/website/src/config/enum/gitkeep
  apps/website/src/main.ts
  apps/website/src/share/gitkeep
  apps/website/src/share/routes.ts
  apps/website/src/view/components/gitkeep
  apps/website/src/view/example/Example.vue
  packages/builtins/src/business/README.md
  packages/builtins/src/router/README.md
Due: eslint, stylelint

refactor: remove useless file
  packages/components/src/assets/gitkeep
Due: none

refactor(builtins): remove jsonp
  packages/builtins/src/jsonp.ts
Due: eslint

Update README.md
  README.md
Due: none

feat: useEnum
  packages/builtins/src/enum.ts
Due: eslint

refactor: enum
  packages/builtins/src/enum.ts
Due: eslint

refactor: fetch -> request
  packages/builtins/src/fetch/README.md
  packages/builtins/src/request/README.md
  packages/builtins/src/request/index.ts
Due: eslint

feat(builtins): useComponent
  packages/builtins/src/useComponent.ts
Due: eslint

feat(builtins): improve useComponent
  packages/builtins/src/useComponent.ts
Due: eslint

Path conditions:
  eslint: any of: *.{cjs,mjs,js,ts,vue,json}
  stylelint: any of: *.{css,scss,vue}
