Repository niuiic/vue-fusion: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: npx eslint --rule no-console:error --rule no-debugger:error -f unix {staged_files} && git add {staged_files}

stylelint:
  run: npx stylelint -f unix {staged_files} && git add {staged_files}

feat: useDynFn
  packages/builtins/src/useDynFn.ts
Due: eslint

refactor: useDynFn -> useAsyncFn
  packages/builtins/src/useAsyncFn.ts
Due: eslint

chore: eslint
  .eslintrc.json
Due: eslint

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: eslint

refactor: useComponent
  packages/builtins/src/useComponent.ts
Due: eslint

refactor: code
  TODO
  apps/website/package.json
  package.json
  packages/builtins/build.ts
  packages/builtins/package.json
  packages/builtins/tsconfig.json
  packages/builtins/vite.config.ts
  packages/components/build.ts
  packages/components/package.json
  packages/components/src/App.vue
  packages/components/src/components/clipboard.ts
  packages/components/src/components/code/Code.vue
  packages/components/src/components/code/highlightVue.ts
  packages/components/src/components/code/index.ts
  packages/components/src/components/code/nonBusiness.ts
  packages/components/src/main.ts
  packages/components/src/router.ts
  packages/components/src/share/code/index.ts
  packages/components/vite.lib.config.ts
  turbo.json
Due: eslint, stylelint

feat: comment
  apps/website/src/business/user/index.ts
  apps/website/src/business/user/mock.ts
  apps/website/src/view/example/Example.vue
  packages/components/src/App.vue
  packages/styles/src/App.vue
  packages/styles/src/pages/dashboard/Dashboard.vue
  packages/styles/src/utils/code/Code.vue
  packages/styles/src/utils/code/nonBusiness.ts
Due: eslint, stylelint

refactor: menu
  TODO
  packages/components/src/app/App.vue
  packages/components/src/app/CompInfo.vue
  packages/components/src/app/MenuTree.vue
  packages/components/src/app/menu.ts
  packages/components/src/main.ts
  packages/components/src/router.ts
  packages/components/vite.config.ts
Due: eslint, stylelint

fix: website
  TODO
  apps/website/src/business/user/index.ts
  apps/website/src/business/user/mock.ts
  apps/website/src/business/user/model.ts
  apps/website/src/main.ts
  apps/website/src/share/routes.ts
  apps/website/src/view/example/Example.vue
  packages/components/build.ts
  packages/components/src/components/business/index.ts
  packages/components/src/main.ts
  packages/components/src/styles/adaptation.scss
  packages/components/src/styles/reset.scss
  packages/components/vite.config.ts
  packages/components/vite.lib.config.ts
  packages/styles/.env
  packages/styles/README.md
  packages/styles/build.ts
  packages/styles/declare/vite.d.ts
  packages/styles/index.html
  packages/styles/package.json
  packages/styles/public/logo.svg
  packages/styles/src/App.vue
  packages/styles/src/main.ts
  packages/styles/src/pages/dashboard/Dashboard.vue
  packages/styles/src/pages/dashboard/index.ts
  packages/styles/src/styles/element/index.scss
  packages/styles/src/styles/index.scss
  packages/styles/src/styles/object/index.scss
  packages/styles/src/styles/object/popover.scss
  packages/styles/src/styles/setting/gitkeep
  packages/styles/src/styles/tool/gitkeep
  packages/styles/src/utils/code/Code.vue
  packages/styles/src/utils/code/index.ts
  packages/styles/src/utils/code/nonBusiness.ts
  packages/styles/src/utils/router.ts
  packages/styles/tsconfig.json
  packages/styles/vite.config.ts
Due: eslint, stylelint

refactor: components
  TODO
  package.json
  packages/build/src/chunk.ts
  packages/components/src/app/App.vue
  packages/components/src/app/Empty.vue
  packages/components/src/app/menu.ts
  packages/components/src/components/code/Code.vue
  packages/components/src/pages/business/index.ts
  packages/components/src/pages/gitkeep
  packages/components/src/router.ts
  pnpm-lock.yaml
Due: eslint, stylelint

fix(components): style
  packages/components/src/app/App.vue
  pnpm-lock.yaml
Due: eslint, stylelint

refactor: remove TODO
  TODO
Due: none

chore: commitlint
  .commitlintrc.json
  lefthook.yml
  lintcommit.mjs
  package.json
  pnpm-lock.yaml
Due: eslint

feat: components style
  packages/components/src/app/App.vue
  packages/components/src/app/MenuTree.vue
Due: eslint, stylelint

docs: update README
  README.md
Due: none

refactor: rename useComponent
  README.md
  packages/components/src/app/App.vue
  packages/components/src/components/useAsyncComp.ts
  packages/components/src/main.ts
Due: eslint, stylelint

feat(useAsyncFn): type
  packages/components/src/components/useAsyncFn.ts
Due: eslint

refactor: business -> service
  README.md
  apps/website/src/service/user/index.ts
  apps/website/src/service/user/mock.ts
  apps/website/src/service/user/model.ts
  apps/website/src/view/example/Example.vue
  packages/components/src/components/business/README.md
  packages/components/src/components/service/README.md
  packages/components/src/components/service/index.ts
  packages/components/src/pages/service/index.ts
Due: eslint, stylelint

feat(useAsyncComp): support slots
  packages/components/src/components/useAsyncComp.ts
Due: eslint

refactor: website
  apps/website/src/main.ts
Due: eslint

feat(component): store
  packages/components/src/components/store.ts
Due: eslint

style: format
  .eslintrc.json
  .stylelintrc.json
  apps/website/src/main.ts
  apps/website/src/service/user/mock.ts
  apps/website/tsconfig.json
  biome.json
  lintcommit.mjs
  packages/build/src/chunk.ts
  packages/components/build.ts
  packages/components/src/app/menu.ts
  packages/components/src/components/code/Code.vue
  packages/components/src/components/concurrent/index.ts
  packages/components/src/components/enum.ts
  packages/components/src/components/notify.ts
  packages/components/src/components/request/index.ts
  packages/components/src/components/router/router.ts
  packages/components/src/components/strategy.ts
  packages/components/src/components/time.ts
  packages/components/src/components/toStr.ts
  packages/components/src/components/types.ts
  packages/components/src/components/useAsyncComp.ts
  packages/components/src/components/useAsyncFn.ts
  packages/components/src/components/useCachedFn/index.ts
  packages/components/src/components/useDebouncedFn.ts
  packages/components/src/components/useRequest/index.ts
  packages/components/src/router.ts
  packages/components/tsconfig.json
  packages/components/vite.lib.config.ts
Due: eslint, stylelint

feat(useAsyncComp): temp container
  packages/components/src/components/useAsyncComp.ts
Due: eslint

feat(store): multiple instance
  packages/components/src/components/store.ts
Due: eslint

refactor: format
  .eslintrc.json
  .stylelintrc.json
  apps/website/src/main.ts
  apps/website/src/service/user/mock.ts
  apps/website/tsconfig.json
  biome.json
  lintcommit.mjs
  packages/build/src/chunk.ts
  packages/components/build.ts
  packages/components/src/app/menu.ts
  packages/components/src/components/code/Code.vue
  packages/components/src/components/concurrent/index.ts
  packages/components/src/components/enum.ts
  packages/components/src/components/notify.ts
  packages/components/src/components/request/index.ts
  packages/components/src/components/router/router.ts
  packages/components/src/components/strategy.ts
  packages/components/src/components/time.ts
  packages/components/src/components/toStr.ts
  packages/components/src/components/types.ts
  packages/components/src/components/useAsyncComp.ts
  packages/components/src/components/useAsyncFn.ts
  packages/components/src/components/useCachedFn/index.ts
  packages/components/src/components/useDebouncedFn.ts
  packages/components/src/components/useRequest/index.ts
  packages/components/src/router.ts
  packages/components/tsconfig.json
  packages/components/vite.lib.config.ts
Due: eslint, stylelint

chore: update dependencies
  .eslintrc.json
  apps/website/package.json
  apps/website/src/App.vue
  apps/website/src/view/example/Example.vue
  apps/website/vite.config.ts
  eslint.config.mjs
  lefthook.yml
  package.json
  packages/components/src/app/App.vue
  packages/components/src/app/CompInfo.vue
  packages/components/src/app/Empty.vue
  packages/components/src/app/MenuTree.vue
  packages/components/src/components/code/Code.vue
  packages/components/src/components/store.ts
  packages/components/vite.config.ts
  pnpm-lock.yaml
Due: eslint, stylelint

chore: styelint config
  .stylelintrc.json
  lefthook.yml
  stylelint.config.mjs
Due: eslint

chore: stylelint config
  package.json
  packages/components/src/app/CompInfo.vue
  packages/components/src/app/MenuTree.vue
  packages/components/src/components/code/Code.vue
  pnpm-lock.yaml
  stylelint.config.mjs
Due: eslint, stylelint

refactor: divider
  apps/website/src/service/user/index.ts
  apps/website/src/service/user/mock.ts
  apps/website/src/view/example/Example.vue
  packages/components/src/app/App.vue
  packages/components/src/app/CompInfo.vue
  packages/components/src/app/MenuTree.vue
  packages/components/src/components/code/Code.vue
Due: eslint, stylelint

chore: sass
  apps/website/vite.config.ts
  package.json
  packages/components/vite.config.ts
  packages/components/vite.lib.config.ts
  pnpm-lock.yaml
Due: eslint

chore: vite config
  apps/website/vite.config.ts
Due: eslint

chore: remove pwa
  apps/website/vite.config.ts
  package.json
  packages/components/vite.config.ts
  pnpm-lock.yaml
Due: eslint

refactor: remove store
  packages/components/src/components/store.ts
Due: eslint

chore: format config
  .prettierrc.json
  package.json
Due: eslint

chore: eslint config
  eslint.config.mjs
Due: eslint

feat(useAsyncComp): getInstance
  packages/components/src/components/useAsyncComp.ts
Due: eslint

fix: useAsyncComp
  packages/components/src/components/useAsyncComp.ts
Due: eslint

Path conditions:
  eslint: any of: *.{cjs,mjs,js,ts,vue,json}
  stylelint: any of: *.{css,scss,vue}
