Repository niuiic/vue-fusion: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '*.{cjs,mjs,js,ts,vue,json}'
      run: 'npx eslint --rule no-console:error --rule no-debugger:error -f unix {staged_files} && git add {staged_files}'
    stylelint:
      glob: '*.{css,scss,vue}'
      run: 'npx stylelint -f unix {staged_files} && git add {staged_files}'
commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit

refactor: xFormItem
  packages/components/src/pages/xFormItem/XFormItem.vue
Due: eslint, stylelint

docs: update README
  README.md
  TODO
Due: none

docs: update README
  README.md
Due: none

fix(website): type error
  apps/website/src/view/pages/example/Example.vue
Due: eslint, stylelint

docs: Update README
  README.md
Due: none

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: eslint

fix(useQuery): do nothing if component is unmounted
  packages/builtins/src/useQuery/index.ts
Due: eslint

chore: turbo
  package.json
  pnpm-lock.yaml
  turbo.json
Due: eslint

refactor: dev -> build
  apps/website/package.json
  apps/website/vite.config.ts
  packages/build/README.md
  packages/build/package.json
  packages/build/src/chunk.ts
  packages/build/src/html.ts
  packages/build/src/index.ts
  packages/build/tsconfig.json
  packages/build/vite.config.ts
  pnpm-lock.yaml
  turbo.json
Due: eslint

chore: component build
  package.json
  packages/build/vite.config.ts
  packages/components/.env
  packages/components/build.ts
  packages/components/package.json
  packages/components/vite.config.ts
  packages/components/vite.lib.config.ts
  pnpm-lock.yaml
  turbo.json
Due: eslint

feat: components
  package.json
  packages/components/src/App.vue
  packages/components/src/pages/xFormItem/index.ts
  packages/components/src/pages/xInput/index.ts
  packages/components/src/utils/code/Code.vue
  packages/components/src/utils/code/index.ts
  packages/components/src/utils/code/nonBusiness.ts
  pnpm-lock.yaml
Due: eslint, stylelint

refactor: components
  packages/components/README.md
  packages/components/src/components/gFormItem/GFormItem.vue
  packages/components/src/components/gFormItem/index.ts
  packages/components/src/components/gFormItem/nonBusiness/config.ts
  packages/components/src/components/gFormItem/nonBusiness/index.ts
  packages/components/src/components/gFormItem/nonBusiness/validate.ts
  packages/components/src/components/gInput/GInput.vue
  packages/components/src/components/gInput/index.ts
  packages/components/src/components/xFormItem/index.ts
  packages/components/src/components/xInput/index.ts
  packages/components/src/pages/gFormItem/GFormItem.vue
  packages/components/src/pages/gFormItem/index.ts
  packages/components/src/pages/gInput/GInput.vue
  packages/components/src/pages/gInput/index.ts
  packages/components/src/pages/xFormItem/index.ts
  packages/components/src/pages/xInput/index.ts
Due: eslint, stylelint

chore(styles): build
  packages/styles/.env
  packages/styles/build.ts
  packages/styles/index.html
  packages/styles/package.json
  packages/styles/public/logo.svg
  packages/styles/release/element/adaptation.scss
  packages/styles/release/element/index.scss
  packages/styles/release/element/reset.scss
  packages/styles/release/index.scss
  packages/styles/release/object/index.scss
  packages/styles/release/object/popover.scss
  packages/styles/release/setting/gitkeep
  packages/styles/release/tool/gitkeep
  packages/styles/src/App.vue
  packages/styles/src/element/index.scss
  packages/styles/src/index.ts
  packages/styles/src/main.ts
  packages/styles/src/object/index.scss
  packages/styles/src/styles/element/adaptation.scss
  packages/styles/src/styles/element/index.scss
  packages/styles/src/styles/element/reset.scss
  packages/styles/src/styles/index.scss
  packages/styles/src/styles/object/index.scss
  packages/styles/src/styles/object/popover.scss
  packages/styles/src/styles/setting/gitkeep
  packages/styles/src/styles/tool/gitkeep
Due: eslint, stylelint

refactor: components
  packages/components/src/components/gFormItem/GFormItem.vue
  packages/components/src/main.ts
  packages/components/src/pages/gFormItem/GFormItem.vue
  packages/components/src/pages/gInput/GInput.vue
Due: eslint, stylelint

refactor(styles): clean
  packages/styles/release/element/adaptation.scss
  packages/styles/release/element/index.scss
  packages/styles/release/element/reset.scss
  packages/styles/release/index.scss
  packages/styles/release/object/index.scss
  packages/styles/release/object/popover.scss
  packages/styles/release/setting/gitkeep
  packages/styles/release/tool/gitkeep
Due: stylelint

fix: style
  packages/components/src/App.vue
  packages/components/src/pages/gFormItem/index.ts
  packages/components/src/pages/gInput/index.ts
  packages/components/src/utils/code/Code.vue
  packages/styles/src/styles/element/reset.scss
Due: eslint, stylelint

docs: styles
  packages/styles/README.md
Due: none

refactor: mode
  apps/website/src/main.ts
  packages/builtins/src/business/README.md
  packages/builtins/src/business/index.ts
  packages/builtins/src/index.ts
  packages/builtins/src/mock/index.ts
  packages/builtins/src/mode.ts
  packages/builtins/tsconfig.json
  packages/builtins/vite.config.ts
Due: eslint

chore(components): build
  packages/components/README.md
  packages/components/build.ts
  packages/components/package.json
Due: eslint

fix: website
  apps/website/src/main.ts
  apps/website/src/view/pages/example/Example.vue
  apps/website/tsconfig.json
Due: eslint, stylelint

refactor: registerModes
  apps/website/src/main.ts
  packages/builtins/src/business/README.md
  packages/builtins/src/mode.ts
Due: eslint

feat: jsonp
  packages/builtins/src/index.ts
  packages/builtins/src/jsonp.ts
Due: eslint

refactor: useCacheFn
  packages/builtins/src/useCacheFn/README.md
  packages/builtins/src/useCacheFn/index.ts
Due: eslint

feat(build): chunk
  packages/build/src/chunk.ts
Due: eslint

feat(app): import element-plus on demend
  apps/website/declare/define.d.ts
  apps/website/src/App.vue
  apps/website/src/main.ts
  apps/website/vite.config.ts
  package.json
  pnpm-lock.yaml
Due: eslint, stylelint

refactor: components
  packages/components/src/components/gFormItem/GFormItem.vue
  packages/components/src/components/gInput/GInput.vue
Due: eslint, stylelint

refactor: mode
  apps/website/src/main.ts
  packages/builtins/src/business/README.md
  packages/builtins/src/business/index.ts
  packages/builtins/src/mode.ts
Due: eslint

refactor: jsonp
  packages/builtins/src/jsonp.ts
Due: eslint

refactor: styles
  apps/website/src/main.ts
  packages/styles/build.ts
Due: eslint

refactor: builtins
  packages/builtins/src/date.ts
  packages/builtins/src/enum.ts
  packages/builtins/src/factory.ts
  packages/builtins/src/useComponent/README.md
  packages/builtins/src/useComponent/index.ts
  packages/builtins/src/useQuery/index.ts
  packages/components/src/App.vue
Due: eslint, stylelint

docs(components): gFormItem
  packages/components/src/components/gFormItem/README.md
  packages/components/src/components/gFormItem/nonBusiness/index.ts
  packages/components/src/components/gFormItem/nonBusiness/rule.ts
  packages/components/src/pages/gFormItem/index.ts
Due: eslint

refactor: enum
  packages/builtins/src/enum.ts
Due: eslint

feat(fetch): raw method
  packages/builtins/src/fetch/README.md
  packages/builtins/src/fetch/index.ts
Due: eslint
