Repository niuiic/vue-fusion: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, stylelint

eslint:
  run: npx eslint --rule no-console:error --rule no-debugger:error {staged_files} && git add {staged_files}

stylelint:
  run: npx stylelint {staged_files} && git add {staged_files}

chore(dependencies): vite config
  components/src/app/App.vue
  components/src/app/adaptation.scss
  components/src/app/reset.scss
  components/src/main.ts
  components/vite.lib.config.ts
Due: eslint, stylelint

chore: build components separately
  components/build.lib.ts
  components/package.json
  components/vite.lib.config.ts
Due: eslint

chore: fix build
  components/build.lib.ts
Due: eslint

feat: css reset
  app/src/main.ts
  app/src/share/adaptation.scss
  components/src/adaptation.scss
  components/src/app/App.vue
  components/src/app/reset.scss
  components/src/main.ts
  package.json
  pnpm-lock.yaml
Due: eslint, stylelint

fix: style
  app/src/share/adaptation.scss
  components/src/adaptation.scss
Due: stylelint

fix: types
  components/dependencies.json
  components/package.json
Due: none

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: none

feat: request
  components/src/components/request/index.ts
Due: eslint

fix: request
  components/src/components/request/index.ts
Due: eslint

feat(request): type
  components/src/components/request/index.ts
Due: eslint

feat(request): throw msg
  components/src/components/request/index.ts
Due: eslint

refactor: id
  components/src/components/id.ts
Due: eslint

refactor: components
  components/dependencies.json
  components/src/app/App.vue
  components/src/app/MenuTree.vue
  components/src/app/menu.ts
  components/src/components/assert.ts
  components/src/main.ts
  components/src/page.ts
  components/src/pages/request/Request.vue
  components/src/pages/request/index.ts
  components/src/router.ts
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: eslint, stylelint

feat: components filter
  components/src/app/App.vue
  components/src/app/MenuTree.vue
  components/src/app/menu.ts
  stylelint.config.mjs
Due: eslint, stylelint

feat: component info
  components/src/app/App.vue
  components/src/app/CompInfo.vue
  components/src/app/MenuTree.vue
  components/src/page.ts
  components/src/pages/request/index.ts
Due: eslint, stylelint

feat: render markdown
  components/package.json
  components/src/components/code/Code.vue
  pnpm-lock.yaml
Due: eslint, stylelint

feat: menutree
  components/src/app/MenuTree.vue
Due: eslint, stylelint

refactor: request
  components/src/components/code/Code.vue
  components/src/pages/request/Request.vue
  components/src/pages/request/index.ts
Due: eslint, stylelint

feat: 隐藏示例
  components/src/app/App.vue
Due: eslint, stylelint

chore: test config
  app/vite.config.ts
  components/playwright.config.ts
Due: eslint

feat: emitter
  components/src/components/emitter.ts
Due: eslint

fix: emitter
  components/src/components/emitter.ts
Due: eslint

refactor: service
  app/src/module/user/entity.ts
  app/src/module/user/service.ts
  app/src/view/example/Example.vue
  components/dependencies.json
  components/src/components/types.ts
Due: eslint, stylelint

docs: request
  components/src/components/request/README.md
  components/src/components/request/index.ts
  components/src/pages/request/index.ts
Due: eslint

feat: useData
  components/src/components/useData/README.md
  components/src/components/useData/index.ts
  components/src/pages/useData/index.ts
Due: eslint

fix: menutree
  components/src/app/App.vue
Due: eslint, stylelint

docs: useAsyncComp
  components/src/components/useAsyncComp/README.md
  components/src/components/useAsyncComp/index.ts
  components/src/pages/useAsyncComp/index.ts
Due: eslint

docs: notify
  components/src/pages/notify/index.ts
Due: eslint

feat(useData): loading
  components/src/components/useData/README.md
  components/src/components/useData/index.ts
Due: eslint

docs: useRequest
  components/src/components/useRequest/README.md
  components/src/components/useRequest/index.ts
  components/src/pages/useRequest/index.ts
Due: eslint

docs: emitter
  components/src/components/emitter/README.md
  components/src/components/emitter/index.ts
  components/src/pages/emitter/index.ts
Due: eslint

docs: time
  components/src/pages/time/index.ts
Due: eslint

docs: assert
  components/src/pages/assert/index.ts
Due: eslint

docs: clipboard
  components/src/pages/clipboard/index.ts
Due: eslint

docs: router
  components/src/components/router/README.md
  components/src/pages/router/index.ts
Due: eslint

docs: concurrent
  components/src/pages/concurrent/index.ts
Due: eslint

refactor: remove useCachedFn
  components/src/components/useCachedFn/README.md
  components/src/components/useCachedFn/index.ts
Due: eslint

docs: useEntityFactory
  components/src/components/enum.ts
  components/src/components/useEntityFactory/README.md
  components/src/components/useEntityFactory/index.ts
  components/src/pages/useEntityFactory/index.ts
Due: eslint

docs: id
  components/src/pages/id/index.ts
Due: eslint

Path conditions:
  eslint: any of: *.{cjs,mjs,js,ts,vue}
  stylelint: any of: *.{css,scss,vue}
